<header>
    <div class="header container d-flex">
      <div class="logo">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
          alt="">
      </div>
      <ul class="nav-bar-pc d-flex">
        <li><a href="">系列鏡框</a></li>
        <li><a href="">門市據點</a></li>
        <li><a href="">部落格</a></li>
        <li><a href="faq.html">常見問題</a></li>
      </ul>
      
    </div>
    <ul class="nav-bar-mb d-flex">
      <li><a href="">系列鏡框</a></li>
      <li><a href="">門市據點</a></li>
      <li><a href="">部落格</a></li>
      <li><a href="faq.html">常見問題</a></li>
    </ul>
</header>