.faq-wrap{
    padding-top: 96px;
    margin-bottom: 80px;
    width: 66.666%;
    @media (max-width: 992px){
        width: 100%;
    }
   .faq{
        color: #000;
        text-align: start;
        font-size: 48px;
        font-weight: bold;
        border-left: 8px solid $secondary;
        margin-bottom: 32px;
        padding-left: 16px;

    } 
    h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }
}
.qa-box{
    margin-bottom: 32px;
    .question{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }
}
